<link rel="stylesheet" href="/style1.css">
<div class = "con">
  
  <nav>
    <h1>Hello</h1>
    <ul>
      <li>Home</li>
      <li>About</li>
     <li> <a style="text-decoration:none" href="/logout">Logout</a></li>
      </ul>
    </nav>
  
  <div class = "idk">
  <div class = "a">
  <h1>you like this</h1>
    </div>
  
  <div class = "b">
  <h1>or this</h1>
    </div>
  </div>
  </div>